*{
 margin    : 0;
 padding   : 0;
 box-sizing: border-box;
 font-family: 'Noto Sans JP', sans-serif;
}

/*logo*/
.logo{
  height: 20px;
  background-color: #000;
  display: block;
}

.logo img {
  height: 100px;
  position: static;
  margin-left: 10px;
}

/*menu app*/
.header{
  height       : 150px;
  width        : 100%;
  position     : fixed;
  top          : 0;
  background   : #fff;
}

.wrapper{
  height         : 100%;
  width          : 90%;
  max-width      : 1200px;
  margin         : 0 auto;
  display        : flex;
  justify-content: center;
  align-items    : center ;
}

.nav{
  width     : 100%;
  position  : fixed;
  bottom    : 0;
  background: #000;
}

.menu{
  display   : flex;
  list-style: none;
}

.menu2{
  display: none;
}

.item {
  width: 33%;
}

.item:first-child{
  border-right: 2px solid #fff;
}

.item:last-child{
  border-left: 2px solid #fff;   
}

.link{
  display        : block;
  color          : #fff;
  font-size      : 15px;
  font-family    : "Raleway", sans-serif;
  text-align     : center;
  text-decoration: none;
  padding        : 5px;
}
.link:hover{
  transform: scale(1.1);
  color: #ffff65;
}

.fa{
  font-size:20px;
  margin:4px;
}

/*redes sociales*/
.social{
  width:50px;
  height:120px;
  position:fixed;
  right:0;
  top:40%;
  color:#fff;
  background:transparent;
  display: grid;
  justify-content:center;
  align-items:center;
  z-index:2000;
}

.facebook, .waa, .instagram{
  background:#000;
  border-radius:50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.fa-facebook, .fa-whatsapp, .fa-instagram{
  font-size:40px;
}

.insta, .wapp{
  text-decoration:none;
  color:#fff;
}

.facebook:hover, .waa:hover , .instagram:hover {
  transform: scale(1.2);
  background: #ffff65;
}

/*pie de pagina*/
footer{
  display:block;
  height:130px;
  background:#000;
  color:#fff;
  text-align:center;
}

.frase{
  text-transform: uppercase;
  font-size:14px;
  padding-top:15px;
}

.tel, .correo{
  text-decoration:none;
  color:#fff;
  padding-top: 25px;
}

.tel{
  padding-bottom: 40px;
}

@media screen and (min-width: 500px){
/*redes sociales*/

  .facebook, .waa, .instagram{
  background:#000;
  border-radius:50%;
  width: 35px;
  height: 35px;
  text-align: center;
  }

  .fa-facebook-f:before, .fa-facebook:before {
    font-size: 25px;
  }
  .fa-instagram:before {
    font-size: 25px;
  }
  .fa-whatsapp:before {
    font-size: 25px;
  }
}

@media screen and (min-width: 700px){
/*menu 2*/

  .menu{
    display: none;
  }

  .logo{
  height: 36px;
  background-color: #000;
  display: flex;
  }

  .logo img {
  height: 120px;
  position:static;
  }

  .menu2{
    display: flex;
    width: 350px;
    right: 0;
    position: absolute;
    list-style: none;
    margin-right: 10px;
  }

  .item:first-child{
  border-right: none;
  }

  .item:last-child{
  border-left: none;  
  }
}

/*-----------------*//*-----------------*//*-----------------*/
.cabecera{
  height: 100px;
  background-image: url("img/cabecera.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecera-caja{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%px;
  width: 40%;
  background-color:#ffffffb3; 
  border-radius:30px;
}

h1{
  font-size: 25px;
  height: 100%;
  width: 90%;
  color: #000;
  text-align: center;
}

.caja{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  grid-gap: 15px;
}

.caja-item{
  font-size: 30px;
  display: inline-flex;
  align-items: center;
}

.caja-item:first-child{
  grid-column: 1/3;
  grid-row: 1/3;
}

.caja-item:nth-child(5){
  grid-column: 2/4;
  grid-row: 3/5;
}

.caja-item img{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 700px){
  .caja{
    grid-template-columns: repeat(5, 1fr);
  	grid-template-rows: 1fr, 1fr;
    grid-auto-flow: dense;
  }

  .caja-item:first-child{
  grid-column: 4/5;
  grid-row: none;
  }

  .caja-item:nth-child(5){
  grid-column: 3/4;
  grid-row: none;
  }
}
